@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:wght@100&family=Roboto:wght@100;500&display=swap');

html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
/* Css Variable */
:root{
    --primary-color:#4458dc;
    --primary-color2:#854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;
    --gradient-color:linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    --shadow-color:0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow:0px 10px 30px rgba(57,56,61,0.205);
    --roboto: 'Roboto Condensed', sans-serif;
}

.roboto{
    font-family: var(--roboto);
}

button:focus,
button:active,
button:hover,
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.navbar-fixed{
    position: fixed;
    width: 100%;
    top: -1;
    left: 0;
    right: 0;
    background: #ffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}
/********** Header ******/
#header-area .main-menu .navbar .navbar-brand{
    padding: 1rem 0.5rem ;
}
#header-area .main-menu .navbar{
    padding: 1rem 20rem ;
}
#header-area .main-menu .navbar .nav-link{
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.7rem;
    font-family: var(--roboto);
    color: var(--title-color);
    text-transform: uppercase;
    padding: 1.5rem;
}
#header-area .main-menu .navbar-nav .active{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
#header-area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/********** Main Area ******/
.site-main.site-banner{
    background: url('https://raw.githubusercontent.com/akashyap2013/PortFolio_Website/master/img/banner/home-banner.png') no-repeat 0% 50%;
}
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-main .site-banner .site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: block;
    margin-left: 10%;
    transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
    font-size: 5rem;
}
.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image img{
    padding: 7rem  0;
}
.text-title{
    font: normal bold 50px/72px var(--roboto);
}
.button{
    padding: 0.8rem 2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}
.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background 0.6s ease;
    box-shadow: var(--box-shadow);
}
.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}
.button.primary-button::after,
.button.secondary-button::after{
    position: absolute;
    top: -2px ;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}
.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background 0.6s ease;
}
.button.secondary-button:hover{
    background: var(--gradient-color);
    box-shadow: var(--box-shadow);
    color: whitesmoke;
}

/******* About Area ******/
.site-main .about-area{
    padding: 2rem 5rem;
}
.site-main .about-area .about-title h2>span{
    display: block;
    font: normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}
.site-main .about-area .about-title .paragraph>p{
    padding: .4rem 0;
}
p.para{
    color: var(--text-color);
    font:  normal 500 16px/25px var(--roboto);
}


/******* Brand Area ******/
.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}
.site-main .brand-area .first-row .col-lg-4{
    justify-content: center;
    display: flex;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border:  1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: .4s ease;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover>img{
    filter: brightness(0.15);
}
.site-main .brand-area .experience-area{
    padding-left: none;
}
.site-main .brand-area .experience-area span{
    display: block;
}
.site-main .brand-area .experience-area .years-area{
    background: url('https://raw.githubusercontent.com/akashyap2013/PortFolio_Website/master/img/client-info-bg.png') no-repeat 45px 20px;
    padding: 2rem;
    width: 40rem;
    height: 18rem;
    position: relative;
    padding-left: 8rem;
}
.site-main .brand-area .experience-area .bg-panel{
    position: absolute;
    left: -190px;
    top: 0%;
    background: #f5eded;
    width: 400px;
    height: 400px;
    margin-left: 340px;
    z-index: -1;
}
.site-main .brand-area .experience-area .years-area .years{
    font: normal bold 84px/40px var(--roboto);
    color: var(--primary-color2);
    z-index: 2;
}
.site-main .brand-area .experience-area .years-area h2>span{
    font: normal 600 23px/20px var(--roboto);
}
.site-main .brand-area .experience-area .call-area{
    padding-left: 10rem;    
}


/******* Service Area ******/
.site-main .services-area{
    padding: 4rem 2rem;
    cursor: pointer;
}
.site-main .services-area .service-title{
    padding:  0 14rem;
}
.site-main .services-area .service-title h1{
    font-size: 2.1rem;
}
.site-main> .services-area .services{
    background: rgba(248,252,253,0.973);
    padding: 2rem 0;
    transition: box-shadow .7s ease;
}
.site-main> .services-area .services:hover{
    box-shadow: var(--box-shadow);
}


/******* Project Area ******/
.site-main .project-area{
    padding: 4rem 0;
}
.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}
.site-main .project-area .button-group button+button{
    padding-left: 3rem;
}
.site-main .project-area .grid .our-project>title h4{
    font: normal 700 25px/12px var(--roboto);
}
.site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.2) drop-shadow(1px 8px 3px #b1afaf);
}

/******* Testimonial Area ******/
.site-main .testimonial .testimonial-title{
    padding:1rem 7rem;
}
.site-main .testimonial .client{
    background:#ffffff10;
    box-shadow: var(--box-shadow);
    margin:3rem 0;
}
.site-main .testimonial .client .client-img{
    padding: 2rem;
}
.site-main .testimonial .client .about-client{
    padding-top: 2rem;
}
.site-main .testimonial .client .about-client h4{
    font: normal 500 21px/20px var(--roboto);
}
.site-main .testimonial .client .about-client p{
    font-size: 0.9rem;
}
.site-main .testimonial .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0.15rem;
}
.site-main .testimonial .owl-carousel .owl-dots .active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

/******* Subscribe Area ******/
.site-main .subscribe-us .subscribe{
    padding: 10rem 0;
    margin: 3rem auto;
    background: url('https://raw.githubusercontent.com/akashyap2013/PortFolio_Website/master/img/subscribe-bg.png') no-repeat;
}
.site-main .subscribe-us .subscribe .subscribe-title h4{
    font: normal 700 30px/30px var(--roboto);
    color: whitesmoke;
}
.site-main .subscribe-us .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}
.site-main .subscribe-us .subscribe .form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}
.site-main .subscribe-us .subscribe .form .input-textbox input::placeholder{
    color: whitesmoke;
}
.site-main .subscribe-us .subscribe .form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
    transition: opacity 0.9s ease;
}
.site-main .subscribe-us .subscribe .form .btn-submit button:hover{
    opacity: 0.8;
}

/******* Footer Area ******/
footer .footer-area{
    padding: 5rem 0;
}
footer .footer-area .social h5{
    font: normal 500 23px/30px var(--roboto);
}
footer .footer-area .social a>i{
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}
footer .footer-area .social a:hover>i{
    color: var(--primary-color);
}